docopt==0.6.2
Jinja2==3.1.6
marisa-trie==1.4.1
mediawiki-langcodes==0.2.21  # for up-to-date langs data, required by wikitextprocessor
mistune==3.2.0  # for DictFile reading
pyglossary==5.3.0
python-idzip==0.3.10
requests==2.33.1
rich==15.0.0
scour==0.38.2
wikitextparser==0.56.4
git+https://github.com/reader-dict/wikitextprocessor.git@ec45b7ca74ee87c5cf98542729ab29d8daa244c4
