docopt==0.6.2
Jinja2==3.1.6
marisa-trie==1.4.1
mediawiki-langcodes==0.2.23  # for up-to-date langs data, required by wikitextprocessor
mistune==3.2.1  # for DictFile reading
pyglossary==5.3.0
python-idzip==0.3.10
requests==2.34.2
rich==15.0.0
scour==0.38.2
wikitextparser==0.56.4
git+https://github.com/reader-dict/wikitextprocessor.git@fde5aebb9411945f73b842b480cdb0232ce45fe6
