docopt==0.6.2
Jinja2==3.1.6
marisa-trie==1.4.1
mediawiki-langcodes==0.2.23  # for up-to-date langs data, required by wikitextprocessor
mistune==3.3.2  # for DictFile reading
pyglossary==5.4.2
python-idzip==0.3.10
requests==2.34.2
rich==15.0.0
scour==0.38.2
wikitextparser==1.0.2
git+https://github.com/reader-dict/wikitextprocessor.git@9235edbeb9f5034f68bd53e83471f49363ef445d
